<!DOCTYPE html>
    <html>
    <head>
        <title>{{title}}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;charset=utf-8">
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>
    {{#kdData}}
        <p>{{mismatch}}</p>
    {{/kdData}}
    </body>
</html>
