<!DOCTYPE html>
    <html>
    <head>
        <title>{{title}}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>
        <p>{{message}}</p>
        <p>{{error.status}}</p>
        <pre>{{error.stack}}</pre>
    </body>
</html>
