<!DOCTYPE html>
    <html>
    <head>
        <title>{{title}}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;charset=utf-8">
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        <script type="text/javascript" src="/javascripts/keystrokeDynamics.js"></script>
    </head>
    <body>
        <p>Pack my box with five dozen liquor jugs. Quick brown fox jumps over the lazy dog. Sympathizing would fix Quaker objectives.</p>
        <form id="frm" action="#" method="post" onsubmit="return false">
            <!-- <input type="text" name="txt" id="txt"/> -->
            <textarea name="txt" id="txt" rows="5" cols="70"></textarea>
            <br/><br/>
            Student ID : <input type="text" name="studentID" id="studentID" value="1234" />
            <br/><br/>
            Assignment ID : <input type="text" name="assignmentID" id="assignmentID" value="2345" />
            <br/><br/>
            <input type="submit" id="sub" value="Submit"/>
        </form>
        Differance : <span id="result"></span>
    </body>
</html>
