<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/reportStyle.css">
<link rel="stylesheet" href="/javascripts/bootstrap-3.3.5-dist/css/bootstrap.css">
<link rel="stylesheet" href="/javascripts/bootstrap-3.3.5-dist/css/bootstrap-theme.css">
<script src="/javascripts/jquery_resources/jquery-1.10.2.js"></script>
<script src="/javascripts/jquery_resources/jquery-ui.js"></script>
<script src="/javascripts/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="/javascripts/jquery_resources//jquery-1.10.2.js"></script>
<script src="/javascripts/reckoners/report.js"></script>
<title>Assignment Reports</title>
</head>
<body>
    <!--Your new content will be displayed in here-->
    <div class="content-placeholder"></div>

    <div class="reportContainer">
        <h1>Assignment Reports</h1>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#assignmentEvaluation"
                aria-controls="profile" role="tab" data-toggle="tab">Assignment
                    Evaluation</a></li>
            <li role="presentation"><a href="#studentEvaluation"
                aria-controls="home" role="tab" data-toggle="tab">Student
                    Evaluation</a></li>
        </ul>

        <!-- Tab panes -->
        <div id="reportTabs" class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="assignmentEvaluation">
                <table class="table table-hover reportTable">
                    <thead>
                        <tr class="info">
                            <th>Assignment</th>
                            <th>Class average</th>
                            <th>Cheating percentage</th>
                            <th>Groupwork percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each clusters}}
                        <tr>
                            <td class="info">Assignment {{@key}}</td>
                            <td class='tableCell'>{{this.avg}}</td>
                            <td class='tableCell'>{{this.cheating}}%</td>
                            <td class='tableCell'>{{this.percentage}}%</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div style="text-align: center">
                    <img src="/images/plot.png">
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="studentEvaluation">
                <table class="table table-hover reportTable">
                    <thead>
                        <tr class="info">
                            <th>Student</th>
                            <th>Cheating ranking</th>
                            <th>Groupwork ranking</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each kd}}
                        <tr onclick='showGraph()'>
                            <td class="info">Student {{@key}}</td>
                            <td class='tableCell2'>{{this.cheating}}</td>
                            <td class='tableCell2'>{{this.grouping}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
